.j_about {
    width: 100%;
    height: 100vh;
    padding: 2rem 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .intro-text {
        color: #000;
    }

    &-intro {
        width: 70%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 5rem 0;
        padding: 0 2rem;
        p {
            font-size: 54px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        span {
            color: $orange;
        }
    }

    &-intro2 {
        width: 50%;
        margin: 4rem 0;
    }

    @include media("<tablet") {
        width: 100vw;
        height: auto;
        flex-direction: column-reverse;
        justify-content: center;
        padding: 5rem 0;

        &-intro {
            width: 100%;
            height: 50vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 2rem 0;
            padding: 0 2rem;
            p {
                font-size: 34px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }

            span {
                color: $orange;
            }
        }

        &-intro2 {
            display: block;
            width: fit-content;
            margin: 1rem;
        }

        .w-sm {
            margin: auto 0.5rem;
            width: 35px;
            height: 35px;
        }

        .intro-text {
            font-weight: 500;
            font-size: 12px;
        }
    }
}

.j_about_mission {
    width: 100%;
    // height: 80vh;
    padding: 3rem 0.5rem;
    background-image: url("./../assets/home/mission/rose-petals_bg.png");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

    &-content {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        .title {
            color: $orange;
            text-align: center;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }

        .heading {
            width: 55%;
            color: $primary;
            text-align: center;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }

    @include media("<tablet") {
        margin-top: 5rem;
        padding: 5rem 1rem;
        height: 100vh;
        &-content {
            padding: 2rem 0;

            .heading {
                width: 100%;
                font-size: 22px;
            }
        }
    }
}

.j_about_values {
    width: 100%;
    height: 40vh;
    padding: 2rem 4rem;
    // display: flex;
    // justify-content: center;

    h2 {
        color: $black;

        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -1.92px;
    }

    &-content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 10px;
        margin: 2rem 0;

        .card {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            width: 30%;
            height: 200px;
            padding: 2rem;
            border-radius: 0.5rem;

            span {
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: 156%;
            }
        }
    }

    @include media("<tablet") {
        height: auto;
        padding: 2rem 1rem;

        h2 {
            font-size: 22px;
        }

        &-content {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            margin: 2rem 0;

            .card {
                width: 100%;
                height: auto;
                padding: 1rem;
                span {
                    font-size: 14px;
                }
            }
        }
    }
}

.j_about_mission_2 {
    width: 100%;
    height: 40vh;
    padding: 0.5rem;
    margin-top: 10rem;
    background-image: url("./../assets/home/mission/rose-petals_bg.png");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

    &-content {
        width: 50%;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        .desc {
            margin: 1rem 0;
            color: $black;
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        .heading {
            width: 55%;
            color: $primary;
            text-align: center;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }

    @include media("<tablet") {
        height: auto;
        margin-top: 3rem;
        padding: 5rem 1rem;
        &-content {
            width: 100%;
            padding: 2rem 0;

            .heading {
                width: 100%;
                font-size: 22px;
            }
        }
    }
}

.j_about_team {
    width: 100%;
    height: 50vh;
    padding: 2rem 4rem;
    margin: 2rem 0;
    h2 {
        color: $black;

        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -1.92px;
    }

    &-content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        margin: 2rem 0;

        .card {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            width: 25%;
            // height: 250px;
            padding: 2rem;
            border-radius: 8px;
            border: 1px solid #ffece5;
            background: #fff;

            p {
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: 156%;
            }
        }
    }

    @include media("<tablet") {
        height: auto;
        padding: 2rem 1rem;

        h2 {
            font-size: 22px;
        }

        &-content {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            margin: 2rem 0;

            .card {
                width: 100%;
                height: auto;
                padding: 1rem;
                span {
                    font-size: 14px;
                }
            }
        }
    }
}
