.j_contact {
    width: 100%;
    padding: 4rem 2rem;
    display: flex;
    justify-content: space-evenly;

    &-left {
        display: flex;
        flex-direction: column;

        img {
            width: fit-content;
            height: fit-content;
            margin: 2rem 0;
        }

        ul {
            display: block;
            li {
                margin: 0.5rem 0;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 156%; /* 24.96px */
            }
        }
    }

    &-right {
        width: 40%;
        margin-top: 6rem;
        .content {
            width: 100%;
            padding: 2rem;
            border-radius: 8px;
            border: 1px solid #ffece5;
            background: #fff;
            box-shadow: 4px 4px 70px 0px rgba(252, 125, 74, 0.1);
            display: flex;
            flex-direction: column;
            color: $primary;

            h2 {
                color: $primary;
                text-align: center;
                font-size: 32px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                margin: 0.5rem;
            }
            span {
                text-align: center;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 156%;
                margin: 0.5rem;
            }

            @include media("<tablet") {
                width: 100%;
                padding: 2rem;
            }
        }
    }

     @include media("<tablet") {
                width: 100%;
                padding: 2rem;
                flex-direction: column;

                h1{
                    font-weight: 700;
                    font-size: 24px;
                }

                li{
                    list-style: outside;
                    margin-left: .5rem;
                }

                &-right{
                    width: 100%;
                }
            }
}
