/* ./src/index.css */
// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@import "./mixins/breakpoints";
@import "./mixins/helpers";
//
@import "./core/global";
@import "./core/variables";
@import "./core/titles";
@import "./elements/inputs";
@import "./elements/modal";
@import "./elements/comments";
@import "./components/navbar";

@import "./pages/home.scss";
@import "./pages/employer.scss";
@import "./pages/employee.scss";
@import "./pages/about.scss";
@import "./pages/contact.scss";

